@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.configurator-area {
  font-family: "Ubuntu", sans-serif;
  container-type: inline-size;
  width: 100%;
  font-weight: 500;
  color: white;
}
.configurator-area * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all 0.2s;
}
.configurator-area.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  overflow: auto;
  background-color: white;
}
.configurator-area .centerRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.configurator-area .menu-section {
  width: 100%;
  display: flex;
  margin-bottom: 2cqi;
  flex-wrap: wrap;
}
.configurator-area .menu-section .menu-item {
  background-color: #0088cc;
  padding: 1.5cqi 1cqi;
  flex-grow: 1;
  min-width: max-content;
  cursor: pointer;
}
@media (hover: hover) {
  .configurator-area .menu-section .menu-item:hover {
    background-color: rgb(0, 156, 235);
  }
}
.configurator-area .menu-section .menu-item:not(:last-child) {
  border-right: 1px solid #376195;
}
.configurator-area .menu-section .menu-item .arrow {
  transition: all 0s;
  transform: rotate(90deg);
  position: relative;
  top: 1px;
  font-weight: 400;
  font-size: clamp(20px, 2.5cqi, 25px);
}
.configurator-area .menu-section .menu-item p {
  font-size: clamp(11px, 1.7cqi, 15px);
  font-weight: 700;
  margin-right: clamp(6px, 1.5cqi, 1.5cqi);
}
.configurator-area .menu-section .menu-item.active {
  background-color: #026596;
}
.configurator-area .menu-section .menu-item.active .arrow {
  transition: all 0s;
  transform: rotate(-90deg);
  position: relative;
  top: 1px;
  left: -3px;
}
.configurator-area .image-section {
  width: 100%;
  height: max-content;
  position: relative;
}
.configurator-area .image-section .selection {
  position: absolute;
  height: 100%;
  z-index: 10000;
  width: 100%;
  align-self: stretch;
  flex-grow: 1;
  background-color: rgba(237, 237, 237, 0.5215686275);
  padding: 2cqi 2cqi;
  display: none;
  overflow: auto;
}
.configurator-area .image-section .selection .mode,
.configurator-area .image-section .selection .material {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2cqi;
  row-gap: 1cqi;
  margin-bottom: 1cqi;
}
.configurator-area .image-section .selection .mode > h4,
.configurator-area .image-section .selection .material > h4 {
  font-size: clamp(10px, 1.7cqi, 20px);
  font-weight: 700;
  width: 100%;
  color: black;
}
.configurator-area .image-section .selection .mode .button-mode,
.configurator-area .image-section .selection .mode .button-material,
.configurator-area .image-section .selection .material .button-mode,
.configurator-area .image-section .selection .material .button-material {
  background-color: #0088cc;
  color: white;
  padding: 1cqi 1.5cqi;
  font-size: clamp(10px, 1.5cqi, 15px);
  border-radius: 4px;
}
@media (hover: hover) {
  .configurator-area .image-section .selection .mode .button-mode:hover,
  .configurator-area .image-section .selection .mode .button-material:hover,
  .configurator-area .image-section .selection .material .button-mode:hover,
  .configurator-area .image-section .selection .material .button-material:hover {
    background-color: rgb(0, 156, 235);
  }
}
.configurator-area .image-section .selection .mode .button-mode.active,
.configurator-area .image-section .selection .mode .button-material.active,
.configurator-area .image-section .selection .material .button-mode.active,
.configurator-area .image-section .selection .material .button-material.active {
  background-color: #026596;
}
.configurator-area .image-section .selection .color {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2cqi;
  row-gap: 1cqi;
  margin-bottom: 1cqi;
}
.configurator-area .image-section .selection .color h4 {
  font-size: clamp(10px, 1.7cqi, 20px);
  font-weight: 700;
  width: 100%;
  color: black;
}
.configurator-area .image-section .selection .color .background {
  width: 100%;
  padding: 2cqi 0;
  border-radius: 4px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2cqi;
  row-gap: 3cqi;
}
.configurator-area .image-section .selection .color .color-item {
  background-color: white;
  width: clamp(120px, 15cqi, 300px);
  height: clamp(70px, 10cqi, 300px);
  box-shadow: 0 0 20px rgba(45, 43, 43, 0.581);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}
.configurator-area .image-section .selection .color .color-item .text-wrapper {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.638) 0%, transparent 100%);
  padding: 2cqi 0.5cqi 0.3cqi 0.5cqi;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.configurator-area .image-section .selection .color .color-item .text-wrapper p {
  text-align: center;
  font-weight: 500;
  font-size: clamp(9px, 1.5cqi, 14px);
}
@media (hover: hover) {
  .configurator-area .image-section .selection .color .color-item:hover {
    transform: scale(1.1);
  }
  .configurator-area .image-section .selection .color .color-item:hover .text-wrapper {
    padding: 3cqi 0.5cqi 1.7cqi 0.5cqi;
  }
}
.configurator-area .image-section .selection .color .color-item.selected {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px black;
}
.configurator-area .image-section .selection .color .color-item.selected .text-wrapper {
  padding: 3cqi 0.5cqi 1.7cqi 0.5cqi;
}
.configurator-area .image-section .selection .color.active {
  display: flex;
}
.configurator-area .image-section .selection.active {
  display: block;
}
.configurator-area .image-section img {
  width: 100%;
  filter: brightness(1.3) saturate(1.5);
}
.configurator-area .image-section .image-original {
  position: relative;
  z-index: 0;
}
.configurator-area .image-section .img {
  position: absolute;
  top: 0;
  left: 0;
}
.configurator-area .image-section .layer-facade {
  z-index: 50;
}
.configurator-area .image-section .layer-plinth {
  z-index: 100;
}
.configurator-area .image-section .layer-angles {
  z-index: 150;
}
.configurator-area .image-section .layer-angles.disabled {
  display: none;
}
.configurator-area .image-section .fullscreen-button {
  background-color: #0088cc;
  padding: 1cqi 2cqi;
  border-radius: 5px;
  position: absolute;
  bottom: 2cqi;
  right: 2cqi;
  z-index: 5000;
  cursor: pointer;
}
.configurator-area .image-section .fullscreen-button p {
  font-size: clamp(10px, 1.5cqi, 15px);
}
@media (hover: hover) {
  .configurator-area .image-section .fullscreen-button:hover {
    background-color: rgb(0, 156, 235);
  }
}

.left {
  width: 295px;
}
@media (width < 992px) {
  .left {
    display: none;
  }
}/*# sourceMappingURL=configuratorStyle.css.map */