@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

$background-menu-active: #026596;
$change-hover-background: rgb(0, 156, 235);
$menu-background: #0088cc;

.configurator-area {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        user-select: none;
        transition: all 0.2s;
    }
    font-family: "Ubuntu", sans-serif;
    container-type: inline-size;
    width: 100%;
    font-weight: 500;
    color: white;
    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100dvh;
        overflow: auto;
        background-color: white;
        .menu-section {
            margin-bottom: 0px;
            .menu-item {
                border-bottom: 2px solid #376195;
            }
        }
    }
    .centerRow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-section {
        width: 100%;
        display: flex;
        margin-bottom: 2cqi;
        flex-wrap: wrap;
        .menu-item {
            background-color: $menu-background;
            padding: 1.5cqi 1cqi;
            flex-grow: 1;
            min-width: max-content;
            cursor: pointer;
            @include hover {
                background-color: $change-hover-background;
            }
            &:not(:last-child) {
                border-right: 1px solid #376195;
            }
            .arrow {
                transition: all 0s;
                transform: rotate(90deg);
                position: relative;
                top: 1px;
                font-weight: 400;
                font-size: clamp(20px, 2.5cqi, 25px);
            }
            p {
                font-size: clamp(11px, 1.7cqi, 15px);
                font-weight: 700;
                margin-right: clamp(6px, 1.5cqi, 1.5cqi);
            }
            &.active {
                background-color: $background-menu-active;
                .arrow {
                    transition: all 0s;
                    transform: rotate(-90deg);
                    position: relative;
                    top: 1px;
                    left: -3px;
                }
            }
        }
    }
    .image-section {
        width: 100%;
        height: max-content;
        position: relative;
        .selection {
            position: absolute;
            height: 100%;
            z-index: 10000;
            width: 100%;
            align-self: stretch;
            flex-grow: 1;
            background-color: #ededed85;
            padding: 2cqi 2cqi;
            display: none;
            overflow: auto;
            .mode,
            .material {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 2cqi;
                row-gap: 1cqi;
                margin-bottom: 1cqi;
                > h4 {
                    font-size: clamp(10px, 1.7cqi, 20px);
                    font-weight: 700;
                    width: 100%;
                    color: black;
                }
                .button-mode,
                .button-material,
                .button-angles-style {
                    background-color: $menu-background;
                    color: white;
                    padding: 1cqi 1.5cqi;
                    font-size: clamp(10px, 1.5cqi, 15px);
                    border-radius: 4px;
                    @include hover {
                        background-color: $change-hover-background;
                    }
                    &.active {
                        background-color: $background-menu-active;
                    }
                }
            }
            .color {
                display: none;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 2cqi;
                row-gap: 1cqi;
                margin-bottom: 1cqi;
                h4 {
                    font-size: clamp(10px, 1.7cqi, 20px);
                    font-weight: 700;
                    width: 100%;
                    color: black;
                }
                .background {
                    width: 100%;
                    padding: 2cqi 0;
                    border-radius: 4px;
                    height: fit-content;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    column-gap: 2cqi;
                    row-gap: 3cqi;
                    &_window {
                        justify-content: flex-start;
                        column-gap: 6cqi;
                    }
                }
                .color-item {
                    width: clamp(120px, 15cqi, 320px);
                    height: clamp(70px, 10cqi, 200px);
                    box-shadow: (0 0 20px rgba(45, 43, 43, 0.647));
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    cursor: pointer;
                    .text-wrapper {
                        background: linear-gradient(
                            to top,
                            rgba(255, 255, 255, 0.748) 0%,
                            transparent 100%
                        );
                        padding: 2cqi 0.5cqi 0.5cqi 0.5cqi;
                        color: black;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        p {
                            text-align: center;
                            font-weight: 500;
                            font-size: clamp(10px, 1.3cqi, 20px);
                        }
                    }
                    @include hover {
                        transform: scale(1.1);
                        .text-wrapper {
                            padding: 3cqi 0.5cqi 2cqi 0.5cqi;
                        }
                    }
                    &.selected {
                        transform: scale(1.1);
                        box-shadow: 0px 0px 15px black;
                        .text-wrapper {
                            padding: 3cqi 0.5cqi 2cqi 0.5cqi;
                        }
                    }
                }
                &.active {
                    display: flex;
                }
            }
            &.active {
                display: block;
            }
        }
        .angles-style-hidden,
        .inserts-style-hidden,
        .frames-style-hidden {
            display: none;
            &.show {
                display: block;
            }
        }
        img {
            width: 100%;
        }
        .image-original {
            position: relative;
            z-index: 0;
        }
        .img {
            position: absolute;
            top: 0;
            left: 0;
        }
        .layer-facade {
            z-index: 50;
            top: 1px;
            &-1 {
                z-index: 60;
                top: 1px;
                &.disabled {
                    display: none;
                }
            }
            &-2 {
                z-index: 61;
                top: 1px;
                &.disabled {
                    display: none;
                }
            }
        }
        .layer-plinth {
            z-index: 100;
            left: -1px;
            top: -1px;
        }
        .layer-frames {
            z-index: 250;
            &.disabled {
                display: none;
            }
        }
        .layer-angles {
            z-index: 150;
            &.disabled {
                display: none;
            }
        }
        .layer-inserts {
            z-index: 200;
            &.disabled {
                display: none;
            }
        }
        .layer-window {
            z-index: 300;
        }
        .fullscreen-button {
            background-color: $menu-background;
            padding: 1cqi 2cqi;
            border-radius: 5px;
            position: absolute;
            bottom: 2cqi;
            right: 2cqi;
            z-index: 5000;
            cursor: pointer;
            p {
                font-size: clamp(10px, 1.5cqi, 15px);
            }
            @include hover {
                background-color: $change-hover-background;
            }
        }
        .filter {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4000;
            width: 100%;
            height: 100%;
            backdrop-filter: brightness(1.2) saturate(1.5);
        }
    }
}
//
.left {
    width: 295px;
    @media (width<992px) {
        display: none;
    }
}
//
