@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

$background-menu-active: #edededbc;
$change-hover-background: rgb(0, 156, 235);
$menu-background: #0088cc;

.centerRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.configurator-area {
    * {
        font-family: "Ubuntu", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        user-select: none;
        transition: all 0.2s;
    }
    container-type: inline-size;
    width: 100%;
    font-weight: 500;
    .menu-section {
        width: 100%;
        display: flex;
        margin-bottom: 2cqi;
        height: 5cqi;
        .menu-item {
            background-color: $menu-background;
            height: 100%;
            flex-grow: 1;
            cursor: pointer;
            @include hover {
                background-color: $change-hover-background;
            }
            &:not(:last-child) {
                border-right: 1px solid #376195;
            }
            p {
                font-size: clamp(11px, 1.7cqi, 15px);
                font-weight: 700;
                color: white;
            }
            &.active {
                background-color: $background-menu-active;
                p {
                    color: black;
                }
            }
        }
    }
    .selection-wrapper {
        width: 100%;
        position: absolute;
        z-index: 10000;
        height: 56.3cqi;
        .selection {
            align-self: stretch;
            flex-grow: 1;
            background-color: $background-menu-active;
            padding: 2cqi 3cqi;
            display: none;
            .mode {
                display: flex;
                align-items: center;
                column-gap: 2cqi;
                h4 {
                    padding: 0.7cqi 1cqi;
                    font-size: clamp(10px, 1.5cqi, 15px);
                    font-weight: 500;
                }
                .button-mode {
                    background-color: $menu-background;
                    color: white;
                    padding: 1cqi 1.5cqi;
                    font-size: clamp(10px, 1.5cqi, 15px);
                    border-radius: 4px;
                    border: 2px solid transparent;
                    @include hover {
                        background-color: $change-hover-background;
                    }
                    &.active {
                        background-color: $background-menu-active;
                        color: black;
                        border: 2px solid $menu-background;
                    }
                }
            }
            &.active {
                display: block;
            }
        }
    }
    .image-section {
        img {
            width: 100%;
            position: absolute;
        }
        .image-original {
            z-index: 0;
        }
        .layer-facade {
            z-index: 50;
        }
    }
}

//
.left {
    width: 295px;
    @media (width<992px) {
        display: none;
    }
}
//
